.gps_ring {
    border: 2px solid #999;
    border-radius: 30px;
    width: 40px;
    top: 50px;
    position: absolute;
    height: 40px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
}
.gps_ring2 {
    position: absolute;
    border: 2px solid #999;
    border-radius: 30px;
    width: 8px;
    height: 8px;
    left: 4px;
    top: 4px;
    background: red;

    -webkit-animation-iteration-count: infinite;
    opacity: 1;
}
.gps_ring1 {
    top: 8px;
    left: 8px;
    position: relative;
    border: 2px solid #999;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 12s;
    animation-delay: 2s;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
