.gps_ring {
    border: 0.125rem solid #999;
    border-radius: 1.875rem;
    width: 2.5rem;
    top: 3.125rem;
    position: absolute;
    height: 2.5rem;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
}
.gps_ring2 {
    position: absolute;
    border: 0.125rem solid #999;
    border-radius: 1.875rem;
    width: 0.5rem;
    height: 0.5rem;
    left: 0.25rem;
    top: 0.25rem;
    background: red;

    -webkit-animation-iteration-count: infinite;
    opacity: 1;
}
.gps_ring1 {
    top: 0.5rem;
    left: 0.5rem;
    position: relative;
    border: 0.125rem solid #999;
    border-radius: 1.875rem;
    width: 1.25rem;
    height: 1.25rem;
    -webkit-animation-delay: 12s;
    animation-delay: 2s;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
